﻿@using Newtonsoft.Json;
@model Code_Companion.Models.ProjectViewModel

@{
    if (Model != null)
    {
        ViewBag.Title = Model.Project.Name;
    }
    else
    {
        ViewBag.Title = "Project";
    }
}

@Styles.Render("~/Content/projects.css")

@if (Model == null)
{
    <h3 align="center">You don't have access to this project.</h3>
    <div class="back-button text-center">
        <p><a href="@Url.Action("Index", "Projects")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Back to projects </a></p>
    </div>
}
else
{
    <!-- External javascripts -->
    <script type="text/javascript" src="~/Scripts/projects.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

    <!-- Bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- ACE and its JavaScript mode and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ext-modelist.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-textmate.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

    <!-- Button back to project & File name -->
    <div>
        <div class="left_buttons">
            <a href="@Url.Action("Index", "Projects")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back to projects </a>

            <div class="current_file">@Html.Raw(Html.Encode(Model.Project.Name)) / No file selected </div>
        </div>

        <!-- Themes -->
        <div class="right_buttons">
            <div class="themes">
                <select id="theme" class="form-control">
                    <option value="ace/theme/monokai">Monokai</option>
                    <option value="ace/theme/terminal">Terminal</option>
                    <option value="ace/theme/chaos">Chaos</option>
                    <option value="ace/theme/chrome">Chrome</option>
                    <option value="ace/theme/clouds">Clouds</option>
                </select>
            </div>

            <!-- Project buttons: Share, Settings, Delete for ProjectOwner, Leave for user-->
            @if (Model.Project.ProjectOwner == Model.CurrentUser)
            {
                <button type="button" onclick="settings('@Model.Project.ID')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-cog"></span> Settings</button>
                <button type="button" onclick="share('@Model.Project.ID', '@Model.Project.ProjectOwner')" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-share-alt"></span> Share</button>
                <button type="button" onclick="deleteProject('@Model.Project.ID', '@Url.Action("Index", "Projects")')" class="btn-danger btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete Project</button>
            }
            else
            {
                <button type="button" onclick="leaveProject('@Model.Project.ID', '@Url.Action("Index", "Projects")')" class="btn-danger btn btn-default btn-sm"><span class="glyphicon glyphicon-remove-sign"></span> Leave Project</button>
            }
        </div>
    </div>


    <div class="program">
        <!-- List of files in the project. -->
        <div class="files">
            <form>
                @foreach (var file in Model.Files)
                {
                    <a href="#" onclick="javascript:openFile('@file.Key', '@file.Name')" class="file_@file.Key" id="file_@file.Name.ToLower()">@file.Name</a>
                    <br />
                }
            </form>
        </div>
        <!-- Editor -->
        <div class="data">
            <div id="editor"></div>
        </div>
    </div>

    <!-- Buttons bottom. -->
    <div id="bottom_buttons">

        <!-- Buttons: new file, upload and refresh. -->
        <div id="project_buttons">
            <button type="button" onclick="addFile('@Model.Project.ID')" class="lower_buttons btn btn-success btn-sm"><span class="glyphicon glyphicon-list-alt"></span> New File</button>
            <button type="button" onclick="$('#file_uploader').click();" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-upload"></span> Upload</button>
            <button type="button" onclick="refresh('@Model.Project.ID')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
            <input type="file" id="file_uploader" name="files[]" multiple />
        </div>

        <!-- Buttons: delete, rename and download -->
        <div id="file_buttons" style="display: none">
            <button type="button" onclick="deleteFile('@Model.Project.ID')" class="btn-danger file_buttons btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button type="button" onclick="renameFile('@Model.Project.ID')" class="file_buttons btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Rename</button>
            <button type="button" onclick="downloadFile('@Model.Project.ID')" class="file_buttons btn btn-sm btn-success"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
        </div>
        <br />
    </div>

    <!-- Scripts -->
    <script>
        var projectName = '@Html.Raw(Model.Project.Name)';

        //Refresh project status in 5 second intervals.
        setInterval(function() 
        {
            updateProjectStatus(@Model.Project.ID, '@Url.Action("Index", "Projects")');
        }, 5000);

        //Set theme of editor and removes classes from body when document is ready.
        jQuery(document).ready(function () 
        {
            var theme = localStorage['code_companion_theme'] || 'ace/theme/monokai';
            $("#theme").val(theme);
            $(".body_content").removeClass("container");
            $(".body_content").removeClass("container_body");
            init();
        });

        //Call upload() when input:file changes.
        $(function() {
            $("input:file").change(function ()
            {
                upload();
            });
        });

        //Change theme of editor.
        $("#theme").on('change', function () 
        {
            localStorage['code_companion_theme'] = this.value;
            if (editorInitiated) 
            {
                var editor = ace.edit("editor");
                editor.setTheme(this.value);
                editor.setShowPrintMargin(false);
                var session = editor.getSession();
                session.setUseWrapMode(true);
                session.setUseWorker(false);
            }
        })

        //Opens bootbox popup "settings" containing name and description of the project.
        //Changes name and description when confirmed.
        function settings(id) 
        {
            bootbox.confirm(
                {
                title: "Project settings",
                message: @(Html.Raw(JsonConvert.SerializeObject(Html.Partial("Settings", Model).ToString().Trim('"')))),
                buttons: 
                {
                    cancel: 
                    {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: 
                    {
                        label: '<i class="fa fa-check"></i> Save'
                    }
                },
                callback: function (result) 
                {
                    if (result) 
                    {
                        newName = $('#Project_Name').val().trim();
                        projectName = newName;
                        newDesc = $('#Project_Description').val().trim();
                        var data = { "name": newName, "desc": newDesc, "project_id": id };
                        $.ajax(
                        {
                            url: '/Projects/UpdateSettings',
                            data: data,
                            method: 'POST',
                            success: function (status) 
                            {
                                if(status == 0) 
                                {
                                    bootbox.hideAll();
                                    $(".current_file").text(projectName + " / " + currentName);
                                } 
                                else if (status == 1) 
                                {
                                    alert("Failed to update settings.");
                                } 
                                else if(status == 2) 
                                {
                                    $("#error_name").html("<br/>Name can only be between 1 and 30 characters");
                                    $("#error_desc").html("")
                                    return false;
                                } 
                                else if(status == 3) 
                                {
                                    $("#error_desc").html("<br/>Description can only be between 1 and 255 characters");
                                    $("#error_name").html("");
                                    return false;
                                } 
                                else if(status == 4) 
                                {
                                    $("#error_name").html("<br/>Name can only be between 1 and 30 characters");
                                    $("#error_desc").html("<br/>Description can only be between 1 and 255 characters");
                                    return false;
                                }
                            }
                        });
                        return false;
                    }
                }
            });
        }

        //Upload a file.
        //Credits: http://stackoverflow.com/questions/19038919/is-it-possible-to-upload-a-text-file-to-input-in-html-js
        function upload() 
        {
            if (!window.FileReader) 
            {
                bootbox.alert("Your browser is not supported");
                return false;
            }
            var input = $('#file_uploader').get(0);
            // Create a reader object
            var reader = new FileReader();
            if (input.files.length) 
            {
                var textFile = input.files[0];
                // Read the file
                reader.fileName = input.files[0].name;
                $("#file_uploader").val("");
                if(textFile.size/1024/1024 > 2) 
                {
                    bootbox.alert("You cannot upload a file larger than 2 MB.");
                    return;
                }
                if(reader.fileName.length > 30) 
                {
                    bootbox.alert("File name cannot exceed 30 characters.");    
                    return;
                }
                reader.readAsText(textFile, 'ISO-8859-4');
                // When it's loaded, process it
                $(reader).on('load', processFile);
            }
        }

        //Processes the uploaded file
        function processFile(e) 
        {
            var file = e.target.result, results;
            var name = e.target.fileName, results;
            if (file && file.length) 
            {
                if (document.getElementById("file_" + name.toLowerCase())) 
                {
                    bootbox.alert("A file with that name already exists.");
                    return;
                }
                newFile(name, file, @Model.Project.ID);
            }
        }
    </script>
}