﻿@using Microsoft.AspNet.Identity
@model List<Code_Companion.Models.ProjectRow>

@{
    ViewBag.Title = "Projects";
}

<!-- If user is authenticated then show the project list else show first page. -->
@if (Request.IsAuthenticated)
{
    <!-- Partial view ProjectList. -->
    @Html.Partial("ProjectsList", Model)

    <!-- Scripts. -->
    <script>
        //Search input.
        $('#search').bind('input', function ()
        {
            search($(this).val());
        });

        //Searches for projects.
        function search(val)
        {
            var data = { "search": val };
            $.ajax(
            {
                type: 'POST',
                url: '/Projects/Index',
                data: data,
                success: function (result)
                {
                    $('.table').replaceWith($(result).find('.table'));
                    if (val.length > 0)
                    {
                        $(".no_projects").text("No projects found.");
                    }
                }
            });
        }
    </script>
}
else
{
    @Html.Partial("DefaultHome")
}