﻿@model Code_Companion.Models.ProjectViewModel

<!-- Bootbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Project details. -->
<div>
    <img src="~/Content/Images/project.png" class="image-project" height="70" />
    @Html.ActionLink("Open", "Edit", new { id = Model.Project.ID }, new { @class = "open-button btn btn-default btn-sm", role = "button" })
</div>
<h3>@Html.Raw(Html.Encode(Model.Project.Name))</h3>
<p><i>@Html.Raw(Html.Encode(Model.Project.Description))</i></p>
<div>
    <p><b>@Html.DisplayNameFor(model => model.Project.ProjectOwner)</b>: @Html.DisplayFor(model => model.Project.ProjectOwner)</p>
    <p><b>@Html.DisplayNameFor(model => model.Users)</b>: </p>
    <!-- Show list of users connected to project. -->
    @for (int i = 0; i < Model.Users.Count; i++)
    {
        <p>@Html.DisplayFor(model => model.Users.ElementAt(i).Email)</p>
    }
</div>



