﻿@model List<Code_Companion.Models.ProjectRow>

@Styles.Render("~/Content/projects.css")

<!-- If user has projects, show search. -->
@if (Model.Any())
{
    <div class="search">
        @Html.TextBox("search", "", new { placeholder = "Search.." })
    </div>
}

<!-- Project list. -->
<div class="table">
    @if (Model.Any())
    {

        foreach (var row in Model)
        {
            <div class="row">
                @foreach (var p in row.Models)
                {
                    <div class="projectWrapper">
                        
                        @Html.Partial("ProjectDetails", p)

                    </div>
                }
            </div>
        }
    }
    else
    {
        <h3 align="center" class="no_projects">You don't seem to have any projects. You can create a new project in the menu bar.</h3>
    }
</div>