﻿@model Code_Companion.Models.ProjectViewModel

@{
    ViewBag.Title = "Settings";
}

<!-- Settings partial view. Used to change project name and description. -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Project.Name, new { htmlAttributes = new { @class = "form-control" } })
                <div id='error_name' class='error'></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Project.Description, 4, 50, new { htmlAttributes = new { @class = "form-control" } })
                <div id='error_desc' class='error' />
            </div>
        </div>
    </div>
}

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
