﻿@model Code_Companion.Models.ProjectViewModel

@{
    ViewBag.Title = "Share";
}
<div class="share_wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <table border="1" class="table table-striped">
                <tr><th>Role</th><th>Email</th><th>Remove</th></tr>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        @if (user.Email == Model.Project.ProjectOwner)
                        {
                            <td>Owner</td>
                        }
                        else
                        {
                            <td>User</td>
                        }
                        <td>@user.Email</td>
                        @if (user.Email == Model.Project.ProjectOwner)
                        {
                            <td> </td>
                        }
                        else
                        {
                            <td><button onclick="removeUser('@user.Email'); return false;" id="remove_button" class="fa fa-times">X</button></td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
