﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Code Companion</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img width="40" height="40" src="~/Content/Images/cc.png" alt="CodeCompanionLogo" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Code Companion", "Index", "Projects", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- If user is authenticated he can make a new project. -->
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("New Project", "New", "Projects")</li>
                    }
                </ul>

                <!-- Partial view login partial. -->
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <!-- Render the body of the page. -->
    <div class="body_content container container_body">
        @RenderBody()
        <hr />
    </div>

    <!-- Footer of the page. Contains link to instructions, link to firepad. -->
    <div class="container container_body">
        <footer>
            <div>
                <p>@Html.ActionLink("Frequently Asked Questions", "Instructions", "Home")</p>
            </div>
            <br />
            <p style="display:inline; float: left;">&copy; @DateTime.Now.Year - Code Companion</p>
            <p style="display:inline; float: right;"> Powered by <a href="https://firepad.io">Firepad.io</a></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
