﻿@{
    ViewBag.Title = "Welcome!";
}

<!-- Logo of the first page, a greeting and a register button. -->
<div class="jumbotron">
    <img style="width:20%; height:60%" src="~/Content/Images/cc_big.png" alt="CodeCompanionLogo" class="img-responsive" />
    <br />
    <p class="lead">
        Code Companion is an efficient platform for programmers to easily collaborate with others. Register now and become a true <i>
            Code Companion.
        </i>
    </p>
    <div class="text-center">
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
    </div>
</div>

<!-- Divs with description of code companion. -->
<div class="row">
    <div class="col-md-4">
        <h2>Proper teamwork</h2>
        <p>
            Imagine working on a code collaboratively and in real-time. That's the vision that we here at Code Companion have turned to reality.
        </p>
    </div>
    <div class="col-md-4">
        <h2>More freedom</h2>
        <p>Choose your own themes and personalize your interface. Use your favorite programming language and enjoy our spectacular syntax-highlighting.</p>
    </div>
    <div class="col-md-4">
        <h2>A plethora of code</h2>
        <p>Code Companion allows you to bask in the glory of multiple projects at once. We have made it easy to browse through folders comfortably and get things done swiftly.</p>
    </div>
</div>