﻿@{
    ViewBag.Title = "Frequently Asked Questions";
}

<div class="container">
    <h2>Frequently Asked Questions</h2>
    <a href="#que1" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">I can't create an account! Why not?</a>
    <div id="que1" class="collapse">
        <p>
            Please make sure that you enter a valid password. Your password must contain at least one
            upper-case letter, a digit and a non-letter or digit character.
        </p>
    </div>
    <br />

    <a href="#que2" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">Can I adjust the design settings?</a>
    <div id="que2" class="collapse">
        <p>
            Yes! There are two ways to adjust the design settings. First of all you can switch your
            theme from a drop-down list in the upper-right corner when you have an open project.
            You can also adjust almost every single detail of your coding experience by having a
            file open and pressing <b>CTRL + , </b>
        </p>
    </div>
    <br />

    <a href="#que3" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">What keyboard shortcuts do you support?</a>
    <div id="que3" class="collapse">
        <p>
            We support a variety of keyboard shortcuts. While using Code Companion you can cut (<b>
                CTRL + X
            </b>), copy (<b>CTRL + C</b>), paste (<b>CTRL + V</b>), undo (<b>CTRL + Z</b>),
            redo (<b>CTRL + Y</b>), find (<b>CTRL + F</b>), find and replace (<b>CTRL + H</b>),
            pick a line (<b>CTRL + L</b>), remove a line (<b>CTRL + D</b>), change to upper
            case (<b>CTRL + U</b>) and change to lower case (<b>CTRL + SHIFT + U</b>).
        </p>
    </div>
    <br />

    <a href="#que4" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">I accidentally gave my file the wrong name, can I rename it?</a>
    <div id="que4" class="collapse">
        <p>
            Absolutely. Just make sure you have the file you want to rename open and then press the
            <b>Rename</b> button in the bottom-right corner. Also, keep in mind that the filename
            cannot be longer than 30 characters or contain any html-tags.
        </p>
    </div>
    <br />

    <a href="#que5" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">I can't share the project I'm working on with a friend. Why not? </a>
    <div id="que5" class="collapse">
        <p>
            For the time being, only Project Owners can invite other users to join the project.
            In this case, please contact your Project Owner to add a friend. Otherwise, you can always
            invite all of your friends to a project you own yourself.
        </p>
    </div>
    <br />

    <a href="#que6" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">I created a file but I didn't get any syntax high-lighting. What's the deal with that?</a>
    <div id="que6" class="collapse">
        <p>
            Please check if the file extension is correct. Did you name the file for example: "HelloWorld.java"?
            Otherwise, there is a small possibility that Code Companion hasn't added support for the specified programming
            language. In that case, hold your horses and wait for our next update!
        </p>
    </div>
    <br />

    <a href="#que7" style="margin-top: 20px;" class="btn btn-info" data-toggle="collapse">I've totally forgotten my password. What can I do?</a>
    <div id="que7" class="collapse">
        <p>
            No worries. Just head on over to the <b>Log in</b> window and press <b>Forgot your password?</b>. Then you should receive an email to
            reset your password.
        </p>
    </div>
    <br />
</div>
