﻿h2 {
    display: inline
}

h3 {
    word-wrap: break-word;
}

div.table
{ 
    display: table; 
    border-collapse: separate;
    border-spacing: 20px 20px;
    table-layout: fixed;
    margin-left: -40px;
    margin-right: -40px;
}

div.row
{ 
    display: table-row; 
}

.projectWrapper
{
    display: table-cell;
    border: 1.5px solid #707070;
    padding: 10px;
    width: 30%;
    height: 350px;
    border-radius: 4px;
    background: white;
    box-shadow: 8px 8px 10px lightgray;
}

.btn-category 
{
    border: none;
    color: cornflowerblue;
}

.btn-category:hover 
{
    border: none;
    color: darkslateblue;
}

#editor 
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.files 
{
    height: 500px;
    max-height: 500px;
    float: left;
    overflow-y: auto;
    width: 120px;
    display: table-cell;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 5px;
    margin: 0px 10px 0px 0px;
}

.data 
{
    height: 500px;
    width: 100%;
    position: relative;
    display: table-cell;
    border: 1px solid black;
    border-radius: 2px;
}

.program 
{
    width: 100%;
    height: 500px;
    display: table;
    padding: 0px 10px 10px 10px;
}

.project_header 
{
    padding-top: 15px;
}

.back-button 
{
    display: inline;
    padding: 10px 0px 10px 10px;
}

.current_file 
{
    display: inline;
    padding-left: 25px;
}

.left_buttons 
{
    padding: 15px 0px 10px 10px;
    float: left;
}

.right_buttons 
{
    padding: 15px 0px 10px 10px;
    float: right;
    margin-right: 10px;
}

.lower_buttons 
{
    margin-left: 10px;
}

.file_buttons 
{
    float: right;
    margin-left: 5px;
}

#bottom_buttons 
{
    margin-right: 10px;
}

#project_buttons 
{
    float: left;
}

input[type="file"]
{
    display: none;
}

a.powered-by-firepad 
{
    display: none;
}

#footer-right 
{
    display: inline;
    float: right;
    position: relative;
}

#footer-left 
{
    display: inline;
    float: left;
    position: relative;
}

#footer-mid 
{
    display: inline-block;
    position: relative;
    text-align: center;
    float: none;
    margin-left: 25%;
    margin-right: 25%;
}

#error_msg 
{
    color: red;
}

.search 
{
    padding: 20px 0px 0px 30px;
    float: right;
}

div > p 
{
    overflow-wrap: break-word;
}

.themes 
{
    display: inline-block;
}

.image-project {
    margin-left: 5px;
}

#error_name
{
    color: red;
}

#error_desc 
{
    color: red;
}

.open-button {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

